.center_text {
  text-align: center;
  padding: 25px;
}

ul {
  margin-left: 40px;
}

li {
  list-style-type: none;
  border-bottom: solid;
  margin-bottom: 15px;
  width: 85%;
}

button {
  display: inline;
  font-size: 25px;
}

h3 {
  display: inline;
}


.grey {
  color: $grey;
}

.red {
  color: red;
}

.orange {
  color: orange;
}
